name: Periodic stats

on:
  schedule:
    - cron: '0 */8 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
          cache-dependency-glob: pyproject.toml
      - name: Install dependencies
        run: make deps
      - name: Update stats
        run: uv run python main.py --access-token ${{ secrets.GITHUB_TOKEN }} stats stats/compiler-explorer.json
      - name: Generate graphs
        run: uv run python main.py graph stats/compiler-explorer.json graphs/
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Automatic checkin of latest stats
